<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEmployeeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEmployeeLabel_employeeId}" for="employeeId" />
                    <h:inputText id="employeeId" value="#{employeeController.selected.employeeId}" title="#{bundle.EditEmployeeTitle_employeeId}" required="true" requiredMessage="#{bundle.EditEmployeeRequiredMessage_employeeId}"/>
                    <h:outputLabel value="#{bundle.EditEmployeeLabel_repliconName}" for="repliconName" />
                    <h:inputText id="repliconName" value="#{employeeController.selected.repliconName}" title="#{bundle.EditEmployeeTitle_repliconName}" required="true" requiredMessage="#{bundle.EditEmployeeRequiredMessage_repliconName}"/>
                    <h:outputLabel value="#{bundle.EditEmployeeLabel_type}" for="type" />
                    <h:selectOneMenu id="type" value="#{employeeController.selected.type}" title="#{bundle.EditEmployeeTitle_type}" required="true" requiredMessage="#{bundle.EditEmployeeRequiredMessage_type}">
                        <f:selectItems value="#{employeeTypeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{employeeController.update}" value="#{bundle.EditEmployeeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEmployeeViewLink}"/>
                <br />
                <h:commandLink action="#{employeeController.prepareList}" value="#{bundle.EditEmployeeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEmployeeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
