<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEmployeeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEmployeeLabel_employeeId}"/>
                    <h:outputText value="#{employeeController.selected.employeeId}" title="#{bundle.ViewEmployeeTitle_employeeId}"/>
                    <h:outputText value="#{bundle.ViewEmployeeLabel_repliconName}"/>
                    <h:outputText value="#{employeeController.selected.repliconName}" title="#{bundle.ViewEmployeeTitle_repliconName}"/>
                    <h:outputText value="#{bundle.ViewEmployeeLabel_type}"/>
                    <h:outputText value="#{employeeController.selected.type}" title="#{bundle.ViewEmployeeTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{employeeController.destroyAndView}" value="#{bundle.ViewEmployeeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEmployeeEditLink}"/>
                <br />
                <h:commandLink action="#{employeeController.prepareCreate}" value="#{bundle.ViewEmployeeCreateLink}" />
                <br />
                <h:commandLink action="#{employeeController.prepareList}" value="#{bundle.ViewEmployeeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEmployeeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
