root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.ui-datepicker {
    
}

#form_timesheet {
    margin-left: .5%;
    margin-right: .5%;
    
}



#form_calendar {
    margin-left: 4%;
    margin-top: 2%;
    
}




#div_calendar {
    position:absolute;
    left:0%; 
    top:92px; 
    bottom: 0;
    width: 15%;
    background: #3a4f54;
    overflow: auto;
    resize: both;
}
#div_timesheet {
    position: absolute;
    top:92px; 
    right:0; 
    bottom:0;
    left: 15%;
    
    background: appworkspace;
}



#div_employeedetails {
    position:absolute;
    left:16%; 
    right:0;
    height: 92px;
    font: 500;
    font-size: larger;
}


#div_navigation {
    text-align: center;
}


@media (max-width: 1450px) {
    #div_calendar{
        clear: both ;
    }
    
    #form_calendar{
        margin-left: 0%;
    }
    #div_timesheet {
       
       clear: both;
    }
}
