<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAccountsLabel_accountsPK_subAccount}" for="accountsPK_subAccount" />
                    <h:inputText id="accountsPK_subAccount" value="#{accountsController.selected.accountsPK.subAccount}" title="#{bundle.CreateAccountsTitle_accountsPK_subAccount}" required="true" requiredMessage="#{bundle.CreateAccountsRequiredMessage_accountsPK_subAccount}"/>
                    <h:outputLabel value="#{bundle.CreateAccountsLabel_accountsPK_account}" for="accountsPK_account" />
                    <h:inputText id="accountsPK_account" value="#{accountsController.selected.accountsPK.account}" title="#{bundle.CreateAccountsTitle_accountsPK_account}" required="true" requiredMessage="#{bundle.CreateAccountsRequiredMessage_accountsPK_account}"/>
                    <h:outputLabel value="#{bundle.CreateAccountsLabel_active}" for="active" />
                    <h:inputText id="active" value="#{accountsController.selected.active}" title="#{bundle.CreateAccountsTitle_active}" required="true" requiredMessage="#{bundle.CreateAccountsRequiredMessage_active}"/>
                    <h:outputLabel value="#{bundle.CreateAccountsLabel_flagged}" for="flagged" />
                    <h:inputText id="flagged" value="#{accountsController.selected.flagged}" title="#{bundle.CreateAccountsTitle_flagged}" required="true" requiredMessage="#{bundle.CreateAccountsRequiredMessage_flagged}"/>
                    <h:outputLabel value="#{bundle.CreateAccountsLabel_fabAccount}" for="fabAccount" />
                    <h:selectOneMenu id="fabAccount" value="#{accountsController.selected.fabAccount}" title="#{bundle.CreateAccountsTitle_fabAccount}" >
                        <f:selectItems value="#{fabAccountController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{accountsController.create}" value="#{bundle.CreateAccountsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{accountsController.prepareList}" value="#{bundle.CreateAccountsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAccountsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
