<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTimesheetTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_timesheetPK_timesheet}" for="timesheetPK_timesheet" />
                    <h:inputText id="timesheetPK_timesheet" value="#{timesheetController.selected.timesheetPK.timesheet}" title="#{bundle.CreateTimesheetTitle_timesheetPK_timesheet}" required="true" requiredMessage="#{bundle.CreateTimesheetRequiredMessage_timesheetPK_timesheet}"/>
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_status}" for="status" />
                    <h:inputText id="status" value="#{timesheetController.selected.status}" title="#{bundle.CreateTimesheetTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_year}" for="year" />
                    <h:inputText id="year" value="#{timesheetController.selected.year}" title="#{bundle.CreateTimesheetTitle_year}" />
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_month}" for="month" />
                    <h:inputText id="month" value="#{timesheetController.selected.month}" title="#{bundle.CreateTimesheetTitle_month}" />
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_firstday}" for="firstday" />
                    <h:inputText id="firstday" value="#{timesheetController.selected.firstday}" title="#{bundle.CreateTimesheetTitle_firstday}" />
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_lastday}" for="lastday" />
                    <h:inputText id="lastday" value="#{timesheetController.selected.lastday}" title="#{bundle.CreateTimesheetTitle_lastday}" />
                    <h:outputLabel value="#{bundle.CreateTimesheetLabel_employee1}" for="employee1" />
                    <h:selectOneMenu id="employee1" value="#{timesheetController.selected.employee1}" title="#{bundle.CreateTimesheetTitle_employee1}" required="true" requiredMessage="#{bundle.CreateTimesheetRequiredMessage_employee1}">
                        <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{timesheetController.create}" value="#{bundle.CreateTimesheetSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{timesheetController.prepareList}" value="#{bundle.CreateTimesheetShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTimesheetIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
