<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateWbsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateWbsLabel_wbsNumber}" for="wbsNumber" />
                    <h:inputText id="wbsNumber" value="#{wbsController.selected.wbsNumber}" title="#{bundle.CreateWbsTitle_wbsNumber}" required="true" requiredMessage="#{bundle.CreateWbsRequiredMessage_wbsNumber}"/>
                    <h:outputLabel value="#{bundle.CreateWbsLabel_active}" for="active" />
                    <h:inputText id="active" value="#{wbsController.selected.active}" title="#{bundle.CreateWbsTitle_active}" required="true" requiredMessage="#{bundle.CreateWbsRequiredMessage_active}"/>
                    <h:outputLabel value="#{bundle.CreateWbsLabel_flagged}" for="flagged" />
                    <h:inputText id="flagged" value="#{wbsController.selected.flagged}" title="#{bundle.CreateWbsTitle_flagged}" required="true" requiredMessage="#{bundle.CreateWbsRequiredMessage_flagged}"/>
                    <h:outputLabel value="#{bundle.CreateWbsLabel_name}" for="name" />
                    <h:inputText id="name" value="#{wbsController.selected.name}" title="#{bundle.CreateWbsTitle_name}" />
                    <h:outputLabel value="#{bundle.CreateWbsLabel_cam}" for="cam" />
                    <h:selectOneMenu id="cam" value="#{wbsController.selected.cam}" title="#{bundle.CreateWbsTitle_cam}" >
                        <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{wbsController.create}" value="#{bundle.CreateWbsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{wbsController.prepareList}" value="#{bundle.CreateWbsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateWbsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
