<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEmployeeTypeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEmployeeTypeLabel_type}" for="type" />
                    <h:inputText id="type" value="#{employeeTypeController.selected.type}" title="#{bundle.EditEmployeeTypeTitle_type}" required="true" requiredMessage="#{bundle.EditEmployeeTypeRequiredMessage_type}"/>
                </h:panelGrid>
                <h:commandLink action="#{employeeTypeController.update}" value="#{bundle.EditEmployeeTypeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEmployeeTypeViewLink}"/>
                <br />
                <h:commandLink action="#{employeeTypeController.prepareList}" value="#{bundle.EditEmployeeTypeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEmployeeTypeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
