<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEmployeeTypeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEmployeeTypeLabel_type}"/>
                    <h:outputText value="#{employeeTypeController.selected.type}" title="#{bundle.ViewEmployeeTypeTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{employeeTypeController.destroyAndView}" value="#{bundle.ViewEmployeeTypeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEmployeeTypeEditLink}"/>
                <br />
                <h:commandLink action="#{employeeTypeController.prepareCreate}" value="#{bundle.ViewEmployeeTypeCreateLink}" />
                <br />
                <h:commandLink action="#{employeeTypeController.prepareList}" value="#{bundle.ViewEmployeeTypeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEmployeeTypeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
