<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLeaveDistributionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLeaveDistributionLabel_leaveDistributionPK_payPeriodDate}" for="leaveDistributionPK_payPeriodDate" />
                    <h:inputText id="leaveDistributionPK_payPeriodDate" value="#{leaveDistributionController.selected.leaveDistributionPK.payPeriodDate}" title="#{bundle.EditLeaveDistributionTitle_leaveDistributionPK_payPeriodDate}" required="true" requiredMessage="#{bundle.EditLeaveDistributionRequiredMessage_leaveDistributionPK_payPeriodDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditLeaveDistributionLabel_percent}" for="percent" />
                    <h:inputText id="percent" value="#{leaveDistributionController.selected.percent}" title="#{bundle.EditLeaveDistributionTitle_percent}" required="true" requiredMessage="#{bundle.EditLeaveDistributionRequiredMessage_percent}"/>
                    <h:outputLabel value="#{bundle.EditLeaveDistributionLabel_employee}" for="employee" />
                    <h:selectOneMenu id="employee" value="#{leaveDistributionController.selected.employee}" title="#{bundle.EditLeaveDistributionTitle_employee}" required="true" requiredMessage="#{bundle.EditLeaveDistributionRequiredMessage_employee}">
                        <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditLeaveDistributionLabel_wbs}" for="wbs" />
                    <h:selectOneMenu id="wbs" value="#{leaveDistributionController.selected.wbs}" title="#{bundle.EditLeaveDistributionTitle_wbs}" required="true" requiredMessage="#{bundle.EditLeaveDistributionRequiredMessage_wbs}">
                        <f:selectItems value="#{wbsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{leaveDistributionController.update}" value="#{bundle.EditLeaveDistributionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditLeaveDistributionViewLink}"/>
                <br />
                <h:commandLink action="#{leaveDistributionController.prepareList}" value="#{bundle.EditLeaveDistributionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditLeaveDistributionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
