<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLeaveDistributionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLeaveDistributionEmpty}" rendered="#{leaveDistributionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{leaveDistributionController.items.rowCount > 0}">
                    <h:outputText value="#{leaveDistributionController.pagination.pageFirstItem + 1}..#{leaveDistributionController.pagination.pageLastItem + 1}/#{leaveDistributionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{leaveDistributionController.previous}" value="#{bundle.Previous} #{leaveDistributionController.pagination.pageSize}" rendered="#{leaveDistributionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{leaveDistributionController.next}" value="#{bundle.Next} #{leaveDistributionController.pagination.pageSize}" rendered="#{leaveDistributionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{leaveDistributionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeaveDistributionTitle_leaveDistributionPK_payPeriodDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.leaveDistributionPK.payPeriodDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeaveDistributionTitle_percent}"/>
                            </f:facet>
                            <h:outputText value="#{item.percent}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeaveDistributionTitle_employee}"/>
                            </f:facet>
                            <h:outputText value="#{item.employee}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeaveDistributionTitle_wbs}"/>
                            </f:facet>
                            <h:outputText value="#{item.wbs}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{leaveDistributionController.prepareView}" value="#{bundle.ListLeaveDistributionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{leaveDistributionController.prepareEdit}" value="#{bundle.ListLeaveDistributionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{leaveDistributionController.destroy}" value="#{bundle.ListLeaveDistributionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{leaveDistributionController.prepareCreate}" value="#{bundle.ListLeaveDistributionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLeaveDistributionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
