<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTimeChargeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTimeChargeLabel_timeChargePK_day}" for="timeChargePK_day" />
                    <h:inputText id="timeChargePK_day" value="#{timeChargeController.selected.timeChargePK.day}" title="#{bundle.EditTimeChargeTitle_timeChargePK_day}" required="true" requiredMessage="#{bundle.EditTimeChargeRequiredMessage_timeChargePK_day}"/>
                    <h:outputLabel value="#{bundle.EditTimeChargeLabel_charged}" for="charged" />
                    <h:inputText id="charged" value="#{timeChargeController.selected.charged}" title="#{bundle.EditTimeChargeTitle_charged}" />
                    <h:outputLabel value="#{bundle.EditTimeChargeLabel_description}" for="description" />
                    <h:inputText id="description" value="#{timeChargeController.selected.description}" title="#{bundle.EditTimeChargeTitle_description}" />
                    <h:outputLabel value="#{bundle.EditTimeChargeLabel_timesheet1}" for="timesheet1" />
                    <h:selectOneMenu id="timesheet1" value="#{timeChargeController.selected.timesheet1}" title="#{bundle.EditTimeChargeTitle_timesheet1}" required="true" requiredMessage="#{bundle.EditTimeChargeRequiredMessage_timesheet1}">
                        <f:selectItems value="#{timesheetController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTimeChargeLabel_wbs1}" for="wbs1" />
                    <h:selectOneMenu id="wbs1" value="#{timeChargeController.selected.wbs1}" title="#{bundle.EditTimeChargeTitle_wbs1}" required="true" requiredMessage="#{bundle.EditTimeChargeRequiredMessage_wbs1}">
                        <f:selectItems value="#{wbsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{timeChargeController.update}" value="#{bundle.EditTimeChargeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTimeChargeViewLink}"/>
                <br />
                <h:commandLink action="#{timeChargeController.prepareList}" value="#{bundle.EditTimeChargeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTimeChargeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
