<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFabAccountTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFabAccountEmpty}" rendered="#{fabAccountController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{fabAccountController.items.rowCount > 0}">
                    <h:outputText value="#{fabAccountController.pagination.pageFirstItem + 1}..#{fabAccountController.pagination.pageLastItem + 1}/#{fabAccountController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{fabAccountController.previous}" value="#{bundle.Previous} #{fabAccountController.pagination.pageSize}" rendered="#{fabAccountController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{fabAccountController.next}" value="#{bundle.Next} #{fabAccountController.pagination.pageSize}" rendered="#{fabAccountController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{fabAccountController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFabAccountTitle_accounts}"/>
                            </f:facet>
                            <h:outputText value="#{item.accounts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFabAccountTitle_accounts1}"/>
                            </f:facet>
                            <h:outputText value="#{item.accounts1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{fabAccountController.prepareView}" value="#{bundle.ListFabAccountViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fabAccountController.prepareEdit}" value="#{bundle.ListFabAccountEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{fabAccountController.destroy}" value="#{bundle.ListFabAccountDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{fabAccountController.prepareCreate}" value="#{bundle.ListFabAccountCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFabAccountIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
